body {
    background-image: url("gradient_bg.png");
    background-color: lightblue;
    border-style: dotted;
    border-width: 5px;
    font-style: Times New Roman
}
h1{
    font-size: 40px;
      }
h2{
    font-size: 25x;
}
h3{
    font-size: 25x;
}
h4{
    font-size: 25x;
}
